#parallax {
    /* The image used */
    background-image: url("Images/zachlevin.jpg");
  
    /* Set a specific height */
    min-height: 400px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    margin-left: -10px;
    margin-right: -10px;
  }

body {
  background-image: url("Images/zachlevin.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
    background-size: cover;
}

.content {
  height: 1000px;
  border: 10px solid white;
}